---
import Layout from "../../layouts/Layout.astro"
import BlogOverview from "../../components/BlogOverview.astro"
---
<Layout title="Blog">
    <div class="bg-white my-10 sm:my-6">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <h1>News und Blogbeiträge</h2>
            <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
                <BlogOverview />
              <!-- More posts... -->
            </div>
          </div>
        </div>
      </div>
      
</Layout>