---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
		<h1 class="text-3xl font-bold">Hallo Welt!</h1>
	</div>
</Layout>