---
export interface Props {
  images: Array<string>;
}
const { images } = Astro.props as Props;
---

<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
  <div class="-m-1 flex flex-wrap md:-m-2">
    {
      images.map((image) => (
        <div class="flex w-1/3 flex-wrap">
          <div class="w-full p-1 md:p-2">
            <a data-fancybox="gallery" href={image}>
              <img
                src={image}
                class="block h-full w-full rounded-lg object-cover object-center"
              />
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  import "@fancyapps/ui/dist/fancybox/fancybox.css";
  import { Fancybox } from "@fancyapps/ui";
  Fancybox.bind("[data-fancybox]", {});
</script>
