<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr class="my-10 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="md:flex md:justify-between">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Rechtliche Hinweise</h2>
                <ul class="text-gray-600 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="/rechtliches/impressum" class="hover:underline">Impressum</a>
                    </li>
                    <li class="mb-4">
                        <a href="/rechtliches/datenschutz" class="hover:underline">Datenschutz</a>
                    </li>
                    <li>
                        <a href="/rechtliches/soziale-medien" class="hover:underline">Soziale Medien</a>
                    </li>
                </ul>
            </div>

            <div class="mb-6 md:mb-0">
                <a href="https://www.stormchaser-hochfranken.de/" class="flex items-center">
                    <img src="/img/logo_color_sm.png" class="h-24 mr-3" alt="Stormchaser Logo" />
                </a>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 Stormchaser Hochfranken - powered by <a href="https://www.feigel.it/" target="_blank" class="hover:underline">FiTS - Feigel-IT-Services</a>.
          </span>
        </div>
    </div>
</footer>
