---
import SocialMedia from "./SocialMedia.astro";
---
<div class="sidebar w-1/3 bg-cover bg-center flex flex-col" style="background-image: url('/img/sunset.jpg')">
    <!-- Sidebar content -->
    <div class="flex justify-center">
        <img src="/img/logo.png" alt="Logo" class="mx-10">
    </div>
    <div class="text-center mt-20">
        <h1 class="text-white text-3xl font-bold">Wettergeschehen in Nordostbayern</h1>
        <p class="text-white text-xl">Landkreise Hof und Wunsiedel</p>
    </div>
    <div class="flex grow"></div>
    <div class="flex justify-center my-10">
        <SocialMedia />
    </div>
</div>