<div class="my-20 overflow-hidden">
    <iframe class="w-full aspect-video" scrolling="no" src="https://embed.windy.com/embed2.html?lat=50.289&amp;lon=11.909&amp;zoom=5&amp;level=surface&amp;overlay=radar&amp;menu=&amp;message=true&amp;marker=&amp;calendar=now&amp;pressure=&amp;type=map&amp;location=coordinates&amp;detail=&amp;detailLat=50.310&amp;detailLon=11.920&amp;metricWind=km%2Fh&amp;metricTemp=%C2%B0C&amp;radarRange=-1"></iframe>
</div>